1_Projekt_ProMan_Software/ProMan_Source/packages/*
1_Projekt_ProMan_Software/ProMan_Source/ProMan_WebAPI/bin/*
1_Projekt_ProMan_Software/ProMan_Source/ProMan_WebAPI/obj/*
1_Projekt_ProMan_Software/ProMan_Source/ProMan_Database/bin/*
1_Projekt_ProMan_Software/ProMan_Source/ProMan_Database/obj/*
1_Projekt_ProMan_Software/ProMan_Source/ProMan_Simulator/bin/*
1_Projekt_ProMan_Software/ProMan_Source/ProMan_Simulator/obj/*
