<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="WebAPIServer" value="http://DESKTOP-E6P5V5K:12345/"/>
    <!--<<add key="WebAPIServer" value="http://localhost:50435/"/>-->
  </appSettings>
</configuration>