<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name ="ProManDB123"
    providerName="System.Data.SqlClient"
    connectionString="Server=DESKTOP-E6P5V5K;DataBase=ProManDB;User ID=tester;Password=tester"/>
    <add name ="ProManDB"
    providerName="System.Data.SqlClient"
    connectionString="Server=zoomnation.selfhost.eu;DataBase=ProManDBTest;User ID=sqluser;Password=promandbsqluser"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.DESKTOP-E6P5V5K;DataBase=ProManDB;User ID=tester;Password=tester" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>