@charset "utf-8";
/* CSS Document */
html{
	width: 1080px;
	height: 1920px;
}
header {
	height: 1%;
	background-color: #9EA0FF;
	width: auto;
	border: thin solid #000000;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
}
body header section {
	float: left;
	width: 11%;
	height: auto;
	clear: right;
	border: thin dashed #000000;
	text-align: center;








}
body {
	width: 1080px;
	height: 1920px;
}



main {
	background-color: #FFF9C9;
	width: auto;
	height: 100%;
	border-radius: 5px;
	border: thin solid #000000;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
}
footer {
	background-color: #9EA0FF;
	width: auto;
	height: 1%;
	border-radius: 5px;
	border: thin solid #000000;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

body footer section  {
	float: left;
	width: 11%;
	height: auto;
	clear: right;
	border: thin dashed #000000;
	text-align: center;








}
