@charset "utf-8";
/* CSS Document */
html{
	width: 375px;
	height: 667px;
}
header {
	height: 1%;
	background-color: #9EA0FF;
	width: auto;
	border: thin solid #000000;
	text-align: center;
	font-size: medium;
	margin-top: 2px;
	margin-right: 1px;
	margin-bottom: 2px;
	margin-left: 1px;
}
body header section {
	float: left;
	width: 11%;
	height: auto;
	clear: right;
	border: thin dashed #000000;








}
body {
	width: 1080px;
	height: 1920px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}



main {
	background-color: #FFF9C9;
	width: auto;
	height: 100%;
	border-radius: 5px;
	border: thin solid #000000;
	font-size: small;
}
footer {
	background-color: #9EA0FF;
	width: auto;
	height: 1%;
	border-radius: 5px;
	border: thin solid #000000;
	margin-top: 2px;
	margin-right: 1px;
	margin-bottom: 2px;
	margin-left: 1px;
}

body footer section  {
	float: left;
	width: 11%;
	height: auto;
	clear: right;
	border: thin dashed #000000;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;








}
